@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --netflix-red: #e50914;
    --netflix-dark: #141414;
    --netflix-gray: #808080;
    --netflix-light: #ffffff;
    --netflix-black: #000000;
    --font-netflix: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  @layer base {
    body {
      background-color: var(--netflix-dark);
      color: var(--netflix-light);
      font-family: var(--font-netflix);
    }
    .btn-netflix {
      background-color: var(--netflix-red);
      color: var(--netflix-light);
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      font-weight: bold;
    }
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  @keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee linear infinite;
  }
  
  